    <div class="img-marquee">
    <div id="themarqueeinquestion"></divs>
    </div>
    
    <div class="header">
    <div class="post banner">
    FUCK QUEST:<br><small><small>THE UNOFFICIAL ARCHIVE</small></small>
    </div>
    </div>
    
    <div class="mainshit">
    <div class="post misc">
    <gt>>what is this?</gt><br>
    This website is a collected archive of <b>Fuck Quest</b>, a collaborative work of smut fiction that ran on 4chan from 2014 to 2022.
    There exists already an official directory for FQ and other works by its author, OP Studios, at <a href="https://op-studios.net">op-studios.net</a>, but my goal is to create a more permanent self-hosted version, with fixed images, homogenous threads, and easy navigation.
    </div>
    
    <div class="post misc">
    <gt>>navigation</gt><br>
    All FQ threads have been saved in their original form, and are represented in imageboard format. <br>
    Each thread has a link to the next in chronological order, and each "marked" post (i.e. story-related OP post) has a link to the next. If desired, enabling "reader mode" will make all non-story/non-OP posts invisible.<br>
    <!--THE CHART has also been re-imagined (with the same information) for your viewing pleasure. -->
    </div>
    
    <div class="post misc">
    <gt>>quick links</gt><br>
    <a href="/episodes">
    Fuck Quest: Classic<br>
    FQ Season 2<br>
    FQ Season 3<br>
    FQ Season 4: The End of Fuck Quest<br>
    Wesley's Bizarre Adventure<br>
    </a>
    </div>
    </div>
