<div class="post {{{specials}}}" id="{{{no}}}">
    {{{nav-top}}}
    <span class="subject">{{{subject}}}</span>
    <span class="name">{{{name}}}</span><span class="trip"><i>{{{trip}}}</i></span>
    <span class="posterid">{{{posterid}}}</span>
    <span class="time">{{{date}}}</span>
    <span class="no">
        <a href="#{{{no}}}">No. {{{no}}}</a>
    </span>
    <span class="markers">{{{markers}}}</span>
    <blockquote class="body">
        {{{body}}}
    </blockquote>
    {{{nav-bottom}}}
</div>